services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    container_name: fitness-keycloak
    ports:
      - "8181:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: [ "start-dev" ]
    volumes:
      - keycloak-data:/opt/keycloak/data

volumes:
  keycloak-data:
